@import url('https"//fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background: #150019;
}

.navigation{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #027fff;
    transition: 0.5s;
    overflow: hidden;
}

.navigation:hover{
    width: 300px;
}

.navigation ul{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.3s ease-in-out;
}

.navigation ul li:hover{
    background: #17234d;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li a:hover{
    color: #ffbf00;
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 2px #ffbf00)
    drop-shadow(0 0 5px #ffbf00)
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    transition: 0.2s ease-in-out;
}

.navigation ul li a .icon:hover{
    color: #ffbf00;
    transform: scale(1.20);
    transition: 0.2s ease-in-out;
    filter: drop-shadow(0 0 2px #ffbf00)

}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}